<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Link Vault</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Link Vault</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
	<key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key> <true/>
      <key>NSAllowsArbitraryLoadsInWebContent</key> <true/>
    </dict>
    <key>CFBundleURLTypes</key>
	 <array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ShareMedia</string>
			</array>
		</dict>
	 <dict/>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To upload photos, please allow permission to access your photo library.</string>

    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>sms</string>
      <string>tel</string>
      <string>https</string>
      <string>http</string>
    </array>
    	<string>$(FLUTTER_BUILD_NAME)</string>
    	<key>CFBundleVersion</key>
    	<string>$(FLUTTER_BUILD_NUMBER)</string>
    	<key>NSExtension</key>
    	<dict>
    		<key>NSExtensionAttributes</key>
            <dict>
                <key>PHSupportedMediaTypes</key>
                   <array>
                        <!--TODO: Add this flag, if you want to support sharing video into your app-->
                       <string>Video</string>
                       <!--TODO: Add this flag, if you want to support sharing images into your app-->
                       <string>Image</string>
                   </array>
                <key>NSExtensionActivationRule</key>
                <dict>
                    <!--TODO: Add this flag, if you want to support sharing text into your app-->
                    <key>NSExtensionActivationSupportsText</key>
                    <true/>
                    <!--TODO: Add this tag, if you want to support sharing urls into your app-->
                	<key>NSExtensionActivationSupportsWebURLWithMaxCount</key>
                	<integer>1</integer>
                	<!--TODO: Add this flag, if you want to support sharing images into your app-->
                    // <key>NSExtensionActivationSupportsImageWithMaxCount</key>
                    // <integer>100</integer>
                    // <!--TODO: Add this flag, if you want to support sharing video into your app-->
                    // <key>NSExtensionActivationSupportsMovieWithMaxCount</key>
                    // <integer>100</integer>
                    // <!--TODO: Add this flag, if you want to support sharing other files into your app-->
                    // <!--Change the integer to however many files you want to be able to share at a time-->
    				// <key>NSExtensionActivationSupportsFileWithMaxCount</key>
    				// <integer>1</integer>
                </dict>
            </dict>
    		<key>NSExtensionMainStoryboard</key>
    		<string>MainInterface</string>
    		<key>NSExtensionPointIdentifier</key>
    		<string>com.apple.share-services</string>
    	</dict>
		<key>LSApplicationQueriesSchemes</key>
    <key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9004947579124903~6181417192</string>
	// <key>NSLocationWhenInUseUsageDescription</key>
	// <string>Location Permissins are required when you open websites that uses location services.</string>
	// <key>NSLocationAlwaysUsageDescription</key>
	// <string>Location Permissins are required when you open websites that uses location services.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<!-- Allowing arbitrary loads for HTTP requests -->
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

	<!-- Permission to access the internet -->
	<key>NSAllowsArbitraryLoadsInWebContent</key>
	<true/>

	<!-- Location permissions -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to show your position on the map and for location-based services within the web content.</string>

	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is needed for continuous location-based services.</string>

	<!-- Camera and Microphone access for web apps -->
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to use camera-based features in web content.</string>

	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is required to capture audio in web content.</string>

	<!-- Photo library access for upload/download files -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to the photo library is needed to upload photos in web content.</string>

	<!-- External storage access (in case your app needs file access) -->
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permission is needed to save files from the web to your photo library.</string>

</dict>
</plist>
